{% extends 'base.html' %}
{% block title %} Blog {% endblock %}
{% import "bootstrap/utils.html" as utils %}
{% block body %}

   {{ utils.flashed_messages() }}

{% for post in posts %}
<div class = "container my-3" align = "center">
    <div class="card w-100">
  <div class="card-body">
    <h4 class="card-title"> {{post.title}}</h4>
      <a href="#" class="card-link">{{post.post_timestamp}}</a>
      <hr>


    <p class="card-text" align = "left">{{ post.content }}</p>
</div>

  </div>

</div>

{% endfor %}



{% endblock %}
