{% extends 'base.html' %}
{% block title %} Blog {% endblock %}

{% block body %}

    <div class = "container-fluid justify-content-center" align = "center">


</div>

{% for post in posts %}
<div class = "container" align = "center">
    <div class="card w-100">
  <div class="card-body">
    <h4 class="card-title"> {{post.title}}</h4>
      <a href="#" class="card-link">{{post.post_timestamp}}</a>
      <hr>


    <p class="card-text" align = "left">{{ post.content }}</p>
</div>

  </div>
</div>



{% endblock %}
