<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Lionell</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

<ul class = "nav">
    <li class = "nav-item">
    <a class = "nav-link" href = "#"> Home </a>
    </li>

    <li class = "nav-item">
    <a class = "nav-link" href = "#"> About </a>
    </li>

    <li class = "nav-item">
    <a class = "nav-link" href = "#"> Blog </a>
    </li>

</ul>



</body>
