<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Lionell</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>

<body>

<ul class = "nav my-5 justify-content-center sticky-top">
    <li class = "nav-item">
    <a class = "nav-link mx-3" href = "{{ url_for('home.homepage')}}"> <h4> Home </h4>  </a>
    </li>

    <li class = "nav-item">
    <a class = "nav-link mx-3" href = "{{ url_for('home.about') }}"> <h4> About </h4>  </a>
    </li>

    <li class = "nav-item">
    <a class = "nav-link mx-3" href = "{{ url_for('blog.blogposts') }}"> <h4> Blog </h4>  </a>
    </li>

    <li class = "nav-item">
        <a class = "nav-link mx-3 disabled" href = "#"> <h4> Projects<small><h6>(Coming soon)</h6> </small> </h4>  </a>
    </li>

    <li class = "nav-item">
    <button type="button" class="btn btn-outline-primary mx-7 my-2" data-toggle="modal" data-target="#sayhello">
 // TODO:
</button>
    </li>

</ul>

    {% block body %}
    {% endblock %}

</body>
